@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideToLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideToRight {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes bar{
    0%{
        width: 0%;
    }

    100%{
        width: 100%;
    }
}

.slide-left {
    animation: slideToLeft 0.6s ease-in-out;
}

.slide-right {
    animation: slideToRight 0.6s ease-in-out;
}


.bar:hover::after{
    animation: bar 1s forwards;
    background-color: #f00;
    bottom: 0;
    content: "";
    height: 1px;
    position: absolute;
    width: 100%;
}

.calendar{
    border: none!important;
}

.calendar-modal .react-calendar__viewContainer{
    height: 75%;
}

.calendar-modal .react-calendar__viewContainer .react-calendar__month-view{
    height: 100%;
}

.calendar-modal .react-calendar__viewContainer .react-calendar__month-view > div{
    align-items: flex-start!important;
    height: 100%;
}

.calendar-modal .react-calendar__viewContainer .react-calendar__month-view > div > div{
    height: 100%;
}

.calendar-modal .react-calendar__viewContainer .react-calendar__month-view > div > div .react-calendar__month-view__days{
    height: 100%;
}

.react-calendar__tile--active{
    background-color: #006edc!important;
}

img{
    position: relative!important;
}

.custom-shape-divider-top-1687646685 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1687646685 svg {
    position: relative;
    display: block;
    width: calc(187% + 1.3px);
    height: 35px;
}

.custom-shape-divider-top-1687646685 .shape-fill {
    fill: #FFFFFF;
}